<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must0revalidate">
    <meta http-equiv="Pragme" content="no-cache">
    <meta http-equiv="Expires" content="0">



    <title>도서 검색</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/public/main.css">
    
    <script>
        let store = '<%= now_store %>' || 'yes24';
        console.log(store); // ejs render 된 값이 없다면 yes24.

        function changeStore(value) {
            store = value;
            console.log(store);
        }

        function search(event) {
            if(event.keyCode === 13) {
                // event.preventDefault(); // save_search 흐름까지 막혀서 삭제.
                console.log(store);
                const form = document.querySelector('.form');
                const inputValue = form.querySelector('input[name="value"]').value;
                const url = `/book_search?value=${inputValue}&store=${store}`;
                window.location.href = url;
            }
        }
    </script>
    <style>
        /* 도서 사이트 버튼 설정*/
        .search-buttons {
            display: flex;
            justify-content: center;
        }
        .search-button {
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 20px auto;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
        .search-button:hover,
        .search-button:focus {
            opacity: 0.8;
        }
        .search-button:active {
            opacity: 0.6;
        }
    </style>

</head>


<body class="bg-main">

    <%- include('nav.html') %>

        <div class="main " style="min-width:300px;" align="center">

            <div class="wrapper">
                <div class="form-group has-search" style="max-width: 500px;">


                    <h3><%= now_keyword %></h3>


                    <form class="form">
                        <input required maxlength="10" type="text" class="form-control card-t" name="value" placeholder="Search" onkeydown="search(event)">
                    </form>

                    <button type="submit" form="todo-form" style="display:none;">제출하기</button>

                    <div class="search-buttons" style="display: flex;" align="center">
                        <button class="search-button yes24" data-site="yes24" onclick="changeStore('yes24')">
                            <img src="/public/image/yes24.jpg" alt="예스24" width="100" height="40">
                        </button>

                        <button class="search-button aladin" data-site="aladin" onclick="changeStore('aladin')">
                            <img src="/public/image/aladin.jpg" alt="알라딘" width="100" height="40">
                        </button>

                        <button class="search-button kyobo" data-site="kyobo" onclick="changeStore('kyobo')">
                            <img src="/public/image/kyobo.jpg" alt="교보문고" width="100" height="40">
                        </button>
                    </div>

                    <div class="todo-inner" style="color: #0c0b0b;">
                        <div class="">
                            <h4 class="tit">최근 검색어</h4>
                            <span class="btn allDelete off" style="background-color: #8C8C8C;">전체삭제🗑️</span>
                        </div>
                        <p class="txt"></p>
                        <ul id="todo-list" style="display: flex;"></ul>
                    </div>

                </div>

            </div>

            
            <% for (var i=0; i < data.length; i++) { %>
                <div class="border border-white" style="max-width: 500px; margin: 10px auto;"
                    onclick="location.href='http://www.yes24.com/<%=data[i].link %>'" data-spy="scroll"
                    data-target="#navbar-example2" data-offset="0">
                    <div class="row g-2 card-t">
                        <div class="col-4">
                            <img src="<%=data[i].img %>" class="rounded-start img-fluid" alt="...">
                        </div>
                        <div class="col-8" align="left">
                            <div class="card-body" >
                                <h5 class="card-title">
                                    <%=data[i].title%>
                                </h5>
                                <p class="card-text">
                                    <%=data[i].author%>
                                </p>
                                <p class="card-text">
                                    <%=data[i].price%>원
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%=now_store%>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
            </script>

        <!-- Load jquery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

        <!-- <script>
            const searchButtons = document.querySelectorAll('.search-button');
            const storeInput = document.querySelector('#store-input');

            searchButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const site = button.getAttribute('data-site');
                    storeInput.value = site;
                });
            });
        </script> -->

        <script src="/public/scripts/save_search.js"></script>

        <script> 
            var nowKeyword = '<%= now_keyword %>';
        
        </script>


</body>



</html>