<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= getData.db_uploader %> 의 중고서적 게시글
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">

</head>

<body class="bg-main">

    <%- include('nav2.html') %>

        <div class="main" style="min-width:300px;" align="center">

            <!-- 제목, 작성자, 저자, 출판사, 출판일, 가격 작성 -->
            <div class="col-md-6" align="left">
                <h5 class="card-title">
                    <%= getData.db_upload_Name %>
                </h5>
                <p class="card-text">
                <div><small class="text-muted">작성자: <%= getData.db_uploader %></small></div>
                <div><small class="text-muted">저자: <%= getData.db_upload_Author %></small></div>
                <!-- <div><small class="text-muted">출판사: </small></div> -->
                <!-- <div><small class="text-muted">출판일: </small></div> -->
                <p class="card-text">가격: <%= getData.db_upload_Price %> 원</p>
                </p>
            </div>

            <!-- 게시글 내용 작성 -->
            <div class="col-md-6" align="left">
                <p>
                <h5 class="card-title">게시글 </h5>
                <div>
                    <%= getData.db_upload_Comment %>
                </div>
                </p>
                <button class="btn card-t" type="button">
                    <!-- 추후에 기능 추가 -->
                    <a class="nav-link" href="main.html">판매자에게 메시지 보내기</a>
                </button>
            </div>

            <!-- 책 상태 -->
            <div class="col-md-6" align="left">
                <p>
                <h5 class="card-title">책 상태</h5>
                <div>
                    <small class="text-muted">찢어짐: </small>
                    <% if(getData.db_upload_isCutoff !=null) { %> O <% } else {%> X <% } %>

                                <small class="text-muted">변색: </small>
                                <% if(getData.db_upload_isDiscolor !=null) { %> O <% } else {%> X <% } %>

                                            <small class="text-muted">낙서: </small>
                                            <% if(getData.db_upload_isDoodle !=null) { %> O <% } else {%> X <% } %>

                                                        <small class="text-muted">제본: </small>
                                                        <% if(getData.db_upload_isBookbinding !=null) { %> O <% } else
                                                                {%> X <% } %>
                </div>
                </p>
                <img src="/public/image/<%= getData.db_upload_img %>" class="img-thumbnail" alt="이미지">
            </div>


        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</body>

</html>