<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href='/public/chat_test.css'>


    <link rel="stylesheet" href="/public/main.css">

</head>

<body class="bg-main">

    <%- include('nav3.html') %>



        <div class="container p-4 detail">
            <div class="row">
                <div class="col-3">
                    <ul class="list-group chat-list">
                        <% for (let i=0; i < data.length; i++) { %>
                            <li class="list-group-item" data-id="<%= data[i]._id %>">
                                <h6>
                                    <%= data[i].chat_Title%>
                                </h6>
                                <h6 class="text-small">
                                    <%= data[i].member[0] %>
                                </h6>
                                <h6 class="text-small" id="chathost">
                                    <%= data[i].member[1] %>
                                </h6>
                                <!-- member[0]이 받은 사람 member[1]이 건 사람 -->
                            </li>
                            <% } %>

                    </ul>
                </div>

                <div class="col-9 p-0">
                    <div class="chat-room">
                        <ul class="list-group chat-content">
                            <!-- <li><span class="chat-box">채팅방1 내용</span></li>
                            <li><span class="chat-box">채팅방1 내용</span></li>
                            <li><span class="chat-box mine">채팅방1 내용</span></li> -->
                        </ul>

                        <div class="input-group">
                            <input class="form-control" id="chat-input">
                            <button class="btn btn-secondary" id="send">전송</button>
                            <button class="btn" id="kakaopay"> </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

        <script>
            var 지금누른채팅방id;
            var eventSource;
            var 건사람 = $('#chathost').text();
            var 호스트 = "<%= host %>";
            // console.log(건사람);
            // console.log(호스트);


            $(document).ready(function () {
                const chatInput = $("#chat-input"); // input 태그 가져오기
                const sendButton = $("#send"); // 전송 버튼 가져오기

                sendButton.click(function () { // 전송 버튼 클릭 이벤트 리스너 등록
                    if (chatInput.val() !== "") { // input 태그의 값이 비어있지 않은 경우
                        chatInput.val(""); // input 태그의 값 비우기
                    }
                });

                chatInput.keypress(function (e) { // input 태그에서 키 입력 이벤트 리스너 등록
                    if (e.keyCode === 13) { // 엔터 키 입력 시
                        if (chatInput.val() !== "") { // input 태그의 값이 비어있지 않은 경우
                            sendButton.click(); // 전송 버튼 클릭 이벤트 리스너 등록
                            chatInput.val(""); // input 태그의 값 비우기
                        }
                    }
                });
            });



            $('.list-group-item').click(function () {
                지금누른채팅방id = this.dataset.id;
                console.log(지금누른채팅방id);
                $('.chat-content').html('');

                if (eventSource != undefined) {
                    eventSource.close();
                }

                eventSource = new EventSource('/message/' + 지금누른채팅방id);
                eventSource.addEventListener('test', function (e) {
                    var 가져온거 = JSON.parse(e.data);
                    // console.log(가져온거);
                    가져온거.forEach(function (i) {
                        if (i.userid == 호스트) {
                            $('.chat-content').append('<li><span class="chat-box mine">' + i.content + '</span></li>');
                        }
                        else {
                            $('.chat-content').append('<li><span class="chat-box">' + i.content + '</span></li>');
                        }
                    });
                });

            });

            $('#send').click(function () {
                var 채팅내용 = $('#chat-input').val();
                var 보낼거 = {
                    parent: 지금누른채팅방id,
                    content: 채팅내용,
                }

                $.post('/message', 보낼거).then((a) => {
                    // console.log(a);
                })
            });


        </script>

</body>

</html>